body {
    font-family: Arial, sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
    margin: 0;
    background-color: white;
}

.containerOben {
    width: 100%;
    height: 20%;
    background-color: yellow;
}

.outputTitel {
    width: 49%;
    height: 100%;
    background-color: red;
    font-size: 6em;
}

.outputTonart {
    width: 49%;
    height: 100%;
    background-color: blue;
    font-size: 6em;
}

.container {
    height: 80%;
    width: 100%;
    text-align: center;
    background-color: green;
}

input {
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    font-size: 6em;
}