body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blue;
}

.container {
    text-align: center;
    background-color: whitesmoke;
}

input {
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    font-size: 6em;
}

.outputText {
    margin-top: 0px;
    padding: 0px; 
    background-color: white;
    display:flexbox;
    justify-content:center;
    align-items: center;
    /* min-height: 1000px; */
    overflow-wrap:normal; 
}

.outputTitel {
    font-size: 6em;
}

.outputTitel {
    font-size: 6em;
}