* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.containerGesamt {
    display: flex;
    flex-direction: column;
    height: 95%;
}

.containerOben {
    display: flex;
    height: 15%;
}

.containerTitel {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.containerTonart {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

 .containerButtons {
    width: 100%;
    height: 5%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    justify-items: center;
} 

.buttonLinks {
    width: 45%;
    display: flex;
    background-color: white;
    border-color: red;
}

 .buttonSpace {
    width: 20%;
    display:flex;
    margin-left: 43rem;
    font-size: 1rem;
    background-color: white;
    justify-content: center;
    align-self: center;
} 

.buttonRechts {
    width: 45%;
    display: flex;
    background-color: white;
    border-color: green;
} 

.containerUnten {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.inputText {
    width: 100%;
    height: 100%;
    font-size: 10em;
    background-color:rgb(96, 150, 244);
    text-align: center;
    color: black;
}