* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.ritterKuno {
    height: 100%;
    width: 100%;

}

.containerGesamt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerOben {
    display: flex;
    height: 13%;
}

.containerTitel {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.containerTonart {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

 .containerButtons {
    width: 100%;
    height: 15%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    justify-items: center;
} 

.buttonLinks {
    width: 10%;
    display: flex;
    background-color: white;
    border-color: red;
}
 .buttonSpace {
    width: 20%;
    display:flex;
    font-size: 2rem;
    background-color: rgba(1,1,1,0);
    border-color: rgba(1,1,1,0);
    justify-content: center;
 }

.buttonRechts {
    width: 10%;
    display: flex;
    background-color: white;
    border-color: green;
} 

.containerUnten {
    height: 77%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.containerEingabe {
    height: 70%;
}

.inputText {
    width: 100%;
    height: 90%;
    font-size: 10em;
    background-color:rgb(96, 150, 244);
    text-align: center;
    color: black;
}

.hinweisText {
    height: 10%;
    font-size: 1.2 em;
    justify-content: center;
    text-align: center;
}